/src/
/pkg/
/*.pkg.tar.zst

# mongoose lib
/mongoose.c
/mongoose.h

# strscan lib
/strscan.c
/strscan.h

# Project exclude paths
/cmake-build-*/

/resources.hpp

# qr code generator library
/qrcodegen.cpp
/qrcodegen.hpp

# perceptron library
/layer.cpp
/layer.hpp

/matrix.cpp
/matrix.hpp

/perceptron.cpp
/perceptron.hpp